services:
  spark:
    image: spark-mlflow:0.0.1
    container_name: spark
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - SPARK_DEFAULT_CONF_DIR=/opt/bitnami/spark/conf
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_DIRS=/tmp/spark
      - MLFLOW_S3_ENDPOINT_URL=http://localstack:4566
      - SPARK_WORKER_DIR=/tmp/spark-worker
      - SPARK_LOG_DIR=/opt/bitnami/spark/logs
      - SPARK_DRIVER_HOST=spark
      - SPARK_NO_DAEMONIZE=true
    ports:
      - "8080:8080"  # Spark Master web UI
      - "7077:7077"  # Spark Master port
    volumes:
      - ./app:/opt/bitnami/spark/app

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.0.1
    container_name: mlflow
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - MLFLOW_S3_ENDPOINT_URL=http://localstack:4566
      - MLFLOW_ARTIFACT_ROOT=s3a://mlflow/models
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlflow/mlruns
    command: "mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:///mlflow.db --default-artifact-root s3://mlflow/mlruns --default-artifact-root s3://mlflow/mlruns"

  spark-worker:
    image: spark-mlflow:0.0.1
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark:7077
      - SPARK_WORKER_CORES=2
      - MLFLOW_S3_ENDPOINT_URL=http://localstack:4566
      - SPARK_WORKER_MEMORY=1G
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
    ports:
      - "8081:8081"  # Spark Worker web UI
    depends_on:
      - spark
    volumes:
      - ./app:/opt/bitnami/spark/apps

  localstack:
    image: localstack/localstack:3.6.0
    container_name: localstack
    ports:
      - "4566:4566"  # LocalStack Gateway port
      - "4510:4510"  # Optional S3 port
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - SERVICES=s3
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - ./scripts/init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh
      - ./input-data:/input-data

networks:
  default:
    name: spark-network
    driver: bridge