services:
  spark:
    image: bitnami/spark:latest
    container_name: spark
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_DEFAULT_CONF_DIR=/opt/bitnami/spark/conf
      - SPARK_SUBMIT_OPTIONS=--packages org.apache.hadoop:hadoop-aws:3.2.0
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_DIRS=/tmp/spark
      - SPARK_WORKER_DIR=/tmp/spark-worker
      - SPARK_LOG_DIR=/opt/bitnami/spark/logs
      - SPARK_DRIVER_HOST=spark
      - SPARK_NO_DAEMONIZE=true
    ports:
      - "8080:8080"  # Spark Master web UI
      - "7077:7077"  # Spark Master port
    volumes:
      - ./spark-data:/tmp/spark
      - ./conf/spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf


  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.0.1
    container_name: mlflow
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlflow/mlruns
    command: "mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:///mlflow.db --default-artifact-root s3://mlflow/mlruns --default-artifact-root s3://mlflow/mlruns"

  spark-worker:
    image: bitnami/spark:latest
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=1G
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
    ports:
      - "8081:8081"  # Spark Worker web UI
    depends_on:
      - spark
    volumes:
      - ./spark-data:/tmp/spark
      - ./conf/spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf

  minio:
    hostname: minio
    image: 'minio/minio:RELEASE.2022-05-26T05-48-41Z'
    container_name: minio
    ports:
      - '9000:9000'  # MinIO API
      - '9001:9001'  # MinIO Console
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server /data --console-address ":9001"
    volumes:
      - ./minio-data:/data

networks:
  default:
    name: spark-network
    driver: bridge